<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css">
<!--[if lt IE 9]>
<script src="__PUBLIC__/Js/html5.js"></script>
<![endif]-->
<script src="__PUBLIC__/Js/jquery.js"></script>
<script src="__PUBLIC__/Js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
  (function($){
    $(window).load(function(){
      
      $("a[rel='load-content']").click(function(e){
        e.preventDefault();
        var url=$(this).attr("href");
        $.get(url,function(data){
          $(".content .mCSB_container").append(data); //load new content inside .mCSB_container
          //scroll-to appended content 
          $(".content").mCustomScrollbar("scrollTo","h2:last");
        });
      });
      
      $(".content").delegate("a[href='top']","click",function(e){
        e.preventDefault();
        $(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
      });
      
    });
  })(jQuery);
</script>
</head>
<body>
<!--header-->
<include file='Common:header' />
<!--aside nav-->
<include file='Common:aside_nav' />
<!--content-->
<section class="rt_wrap content mCustomScrollbar">
  <div class="rt_content">
     <div class="page_title">
       <h2 class="fl">管理员列表</h2>
       <a href="__CONTROLLER__/add" class="fr top_rt_btn add_icon">添加管理员</a>
      </div>
      <form action="__CONTROLLER__/search" method="post">
      <section class="mtb">
       <input type="text" name="keywords" class="textbox textbox_225" placeholder="输入管理员关键字..."/>
       <input type="submit" value="查询" class="group_btn"/>
      </section>
      </form>
      <form action="__CONTROLLER__/delall" method="post">
       <input type="submit" name="submit" class="link_btn" value="批量删除" />
      <table class="table">
       <tr>
        <th style="width:5%"><input type="checkbox" name="chkall" id="all"> 全选</th>
        <th>ID</th>
        <th>管理员名称</th>
        <th>管理员角色</th>
        <th>操作</th>
       </tr>
       <foreach name='list' item='v'>
         <tr>
          <td class="center"><input type="checkbox" name="ids[]" value="{$v.id}" /></td>
          <td class="center">{$v.id}</td>
          <td class="center">{$v.username}</td>
          <td class="center">超级管理员(未完善)</td>
          <td class="center">
           <a href="__CONTROLLER__/edit/id/{$v.id}" title="编辑" class="link_icon">&#101;</a>
           <a title="删除" class="link_icon" onclick="return confirm('确定要删除该管理员吗？');" href="__CONTROLLER__/del/id/{$v.id}">&#100;</a>
          </td>
         </tr>
       </foreach>
      </table>
      </form>

      <aside class="paging">
       <!-- <a>第一页</a>
       <a>1</a>
       <a>2</a>
       <a>3</a>
       <a>…</a>
       <a>1004</a>
       <a>最后一页</a> -->
        {$page}
      </aside>
  </div>
</section>


  <script type="text/javascript">
    window.onload = function() {
      var all = document.getElementById('all');
      var form = document.getElementsByTagName('form')[1];
      all.onclick = function() {
        //form.elements获取表单内的所有表单
        for(var i=0;i<form.elements.length;i++) {
          if(form.elements[i].name != 'chkall') {
            form.elements[i].checked = form.chkall.checked;
          }
        }
      };
    }
  </script>  

</body>
</html>
