<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/style.css">
<!--[if lt IE 9]>
<script src="__PUBLIC__/Js/html5.js"></script>
<![endif]-->
<script src="__PUBLIC__/Js/jquery.js"></script>
<script src="__PUBLIC__/Js/jquery.mCustomScrollbar.concat.min.js"></script>
<script>
	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
<!--header-->
<include file='Common:header' />
<!--aside nav-->
<include file='Common:aside_nav' />
<!--content-->
<section class="rt_wrap content mCustomScrollbar">
  <div class="rt_content">
	<h1 style="text-align: center;font-size: 25px;margin-top: 150px;"><strong>欢迎来到《盘古租车》后台管理系统</strong></h1>
	<h2 style="text-align: center;"><a href="__MODULE__/Manage/edit/id/<?php echo $_SESSION['id']?>"><?php echo $_SESSION['username']?></a>，您好管理员</h2>
  </div>
</section>
</body>
</html>
