<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<meta name="Author" content="0431" />
<title>盘古租车</title>
<meta name="keywords" content="盘古租车" />
<meta name="description" content="盘古租车" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/subpage.css" />  
<script type="text/javascript" src="__PUBLIC__/style/jquery.js"></script>
<style>
.head { background: #1a2a38;}
.foot {background: #132330;}
.nav {background: #0152b5 !important}
.nav_color {background: #222;}
</style>
<script type="text/javascript" src="__PUBLIC__/style/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/style/cart_icon.js"></script>    
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/child_vip.css" />   
</head>
<body>
<include file="Common:nav" /> 
<div class="allpage">
    <div class="black-fixed iconfont">&#xe60f;</div>
 <include file="Common:header" />   
<div class="content">
    <p class="red_alert"></p>
    <ul class="login">
      <form method="post" action="__CONTROLLER__/addmsg" name="form1" class="msgForm">
        <li>
            <input class="login_input" name="title" type="text" id="title" placeholder="标题"/>
        </li>
        <li>
            <input class="login_input" name="username" type="text" id="title" placeholder="您的姓名"/>
        </li>
        <li>
            <input class="login_input" name="phone" type="text" id="title" placeholder="您的电话"/>
        </li>
        <li>
            <input class="login_input" name="email" type="text" id="title" placeholder="您的邮箱"/>
        </li>
        <li>
            <textarea class="login_textarea" name="content" id="content" cols="30" rows="10" placeholder="内容"></textarea>
        </li>
        <li>
            <input class="login_input pin_width" name="verify" type="text" maxlength="4" placeholder="请输入验证码"/>
            <img src="__CONTROLLER__/verify" class="login_pin" onclick="this.src='__MODULE__/Message/verify/'+Math.random();"  style="cursor:pointer;" title="看不清，换一张"/>
        </li>
        <li>
            <input class="login_btn common_bg" id="baidu-book" type="submit" value="提   交"/>
        </li>
        <li>
            <input class="login_btn common_bg" id="baidu-book" type="button" onclick="history.go(-1)" value="返   回"/>
        </li>
      </form>
    </ul>
</div>
<include file="Common/footer" /> 
</div>
<script type="text/javascript">

</script> 
</body>
</html>