<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta content="telephone=no" name="format-detection" />
<meta name="Author" content="0431" />
<title>盘古租车</title>
<meta name="keywords" content="盘古租车" />
<meta name="description" content="盘古租车" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/style/subpage.css" />	
<script type="text/javascript" src="__PUBLIC__/style/jquery.js"></script>
<style>
.head {background: #1a2a38;}
.foot {background: #132330;}
.nav {background: #0152b5 !important}
.nav_color {background: #222;}
</style>
<script type="text/javascript" src="__PUBLIC__/style/nav.js"></script>
<script type="text/javascript" src="__PUBLIC__/style/cart_icon.js"></script>
</head>
<body>
<include file='Common:nav' />
<div class="allpage">
    <div class="black-fixed iconfont">&#xe60f;</div>
<!--head-->
<include file='Common:header' />
<!--head-->
    <div class="content">
        <div class="about">
                <h1>{$arts.title}</h1>   
                <span class="picContent"><p><?php echo htmlspecialchars_decode($arts['content']);?></p></span>
                <a href="{$upurl}" title="{$uptitle}" class="page">上一条：{$uptitle}</a> 
                <a href="{$downurl}" title="{$downtitle}" class="page">下一条：{$downtitle}</a> 
                <a href="__MODULE__/Activitylist/index/cateid/6" title="返回列表" class="back">返回列表</a>        
        </div>          
    </div>
<include file='Common:footer' />
    
    
</div>
</body>
</html>