<!--aside nav-->
<aside class="lt_aside_nav content mCustomScrollbar">
 <h2><a href="__MODULE__/Index/index">起始页</a></h2>
 <ul>
  <li>
   <dl>
    <dt>栏目管理</dt>
    <!--当前链接则添加class:active-->
    <dd><a href="__MODULE__/Cate/lst">栏目列表</a></dd>
    <dd><a href="__MODULE__/Cate/add">新增栏目</a></dd>
    <dd><a href="__MODULE__/Cate/trach">栏目回收站</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>文章管理</dt>
    <dd><a href="__MODULE__/Article/lst">文章列表</a></dd>
    <dd><a href="__MODULE__/Article/add">新增文章</a></dd>
    <dd><a href="__MODULE__/Article/trach">文章回收站</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>留言管理</dt>
    <dd><a href="__MODULE__/Message/lst">留言列表</a></dd>
    <dd><a href="__MODULE__/Message/trach">留言回收站</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>求职信息管理</dt>
    <dd><a href="__MODULE__/Job/lst">求职信息列表</a></dd>
   </dl>
  </li>
  <li>
   <dl>
    <dt>系统管理</dt>
    <dd><a href="discharge_statistic.html">系统设置</a></dd>
    <dd><a href="__MODULE__/Manage/lst">管理员管理</a></dd>
    <dd><a href="sales_volume.html">权限列表</a></dd>
    <dd><a href="sales_volume.html">角色列表</a></dd>
    <dd><a href="sales_volume.html">数据管理</a></dd>
   </dl>
  </li>
  <li>
   <p class="btm_infor">© DeathGhost.cn 版权所有</p>
  </li>
 </ul>
</aside>